.table, .table th, .table td{
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;
  background-color: #e3f1fc;
  padding: 10px;
}

.table th {
  text-align: left;
}

.table th, .table td {
  padding: 10px;
}