.topbarContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: 'green';
}

.sidebarMainContainer {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;
  padding: 5px;
}